__pycache__/
*.py[cod]
*$py.class
.DS_Store
.ipynb_checkpoints/
.cache/
.vscode/
data/
plots/
.venv/
*egg-info/
results/
venv/

results*/
.old
analysis_*/
/derivatives
*upstream_work
reports/
!eeg_adhd_epilepsy/reports/
eeg_adhd_epilepsy/reports/*
!eeg_adhd_epilepsy/reports/__init__.py
!eeg_adhd_epilepsy/reports/decoding.py

# SLURM output and error logs
*.out
*.err
